body {
    margin: 0;
      display:flex;
      flex-direction: column;
      align-items: center;
    }
section {
      width: 600px;
      height: 400px;
      overflow:auto;
    
    }

div{
    display: block;
}
h1{
    margin-left: 20px;
}
li.completed {
    text-decoration: line-through;}